.center-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-wrapper {
    display: grid;
    grid-auto-row: auto;
    grid-template-columns: minmax(100%, 800px);
    justify-items: left;
}

.listing-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 60px;
    justify-items: center;
}

.listing-photo {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}